body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    font-size: 16px;
}

.container {
    padding: 30px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.jcspa {
    justify-content: space-around;
}

.jcspb {
    justify-content: space-between;
}

.jcs {
    justify-content: start;
}

.jce {
    justify-content: end;
}

.aic {
    align-items: center;
}

.catalog {
    padding: 15px 30px;
    border-radius: 9px;
    color: white;
    background-color: #F188F2;
    font-weight: 700;
    transition: all 0.3s;
    cursor: pointer;
}

.catalog:hover {
    background-color: #B566B6;
}

.search {
    position: relative;
    padding: 15px 30px 15px 15px;
    border: 2px solid #A9A9A9;
    border-radius: 9px;
    font-size: 9px;
}

.input-search {
    padding-left: 7px;
    outline: none;
    border: none;
}

.search::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url(../img/icons-search.png);
    background-size: cover;
}

.input-search::placeholder {
    font-size: 14px;
}

input:focus::-webkit-input-placeholder { 
    color:transparent; 
}

.nav-item {
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
}

.nav-item:hover {
    color: #FC42FF;
}

.customer-icons {
    gap: 7px;
    margin-left: 10px;
}

.icon {
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.log-in-icon {
    background-image: url('../img/logged-out-icon3.png');
}

.favourite-icon {
    background-image: url('../img/favourite-heart.png');
    margin-left: 5px;
}

.cart-icon {
    background-image: url('../img/cart-icon3cropped.png');
    width: 23px;
    height: 25px;
    margin-left: 5px;
}

.categories {
    padding: 25px 0;
    gap: 20px;
}

.category-item {
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
}

.category-item:hover {
    color: rgb(67, 67, 67);
    text-decoration: underline;
}

.menu-contacts {
    gap: 20px;
}

.phone {
    font-size: 14px;
}

.logo {
    display: block;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    transition: all 0.3s;
}

.logo:hover {
    transform: scale(1.3);
}

.telegram-logo {
    background-image: url('..//img/telegram-logo.png');
}

.whatsapp-logo {
    background-image: url('..//img/whatsapp-logo.png');
}

.work-hours {
    font-size: 12px;
}

.section1 {
    background-image: url('../img/1614843435_100-p-fon-s-dnem-rozhdeniya-122.jpg');
    height: 600px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
}
.texth1 {
    width: 50%;
    padding: 100px 0 20px 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 57px;
}
.butdiv {
    padding: 0 50px;
}
.but1 {
    padding: 25px 50px;
    /* width: 241px; */
    height: 82px;
    left: 51px;
    top: 546px;
    background: linear-gradient(0deg, #F188F2, #F188F2), linear-gradient(0deg, #F188F2, #F188F2);
    border-radius: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    margin-right: 20px;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    font-size: 18px;
}
.but2 {
    padding: 25px 40px;
    /* width: 235px; */
    height: 82px;
    left: 332px;
    top: 546px;
    border: 2px solid #FFFFFF;
    border-radius: 13px;
    background: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    cursor: pointer;
    font-size: 18px;
}
.section2 {
    height: 600px;
    margin: 0 20px 30px;
}
.but3 {
    background: none;
	color: inherit;
	border: none;
	padding: 12px 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 20px;
}
h1 {
    margin: 0;
}
.section3 {
    height: 600px;
    margin: 0 20px 30px;
}
.section4 {
    background-image: url('../img/2017Girls___Beautyful_Girls_Beautiful_girl_with_multi-colored_balloons_in_hands_on_a_white_background_115598_.jpg');
    height: 600px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
}
footer {
    margin: 0 20px 30px 20px;
}
/* контейнер */
.wrapper {
    height: 100%;
    padding: 50px;
}

/* основные стили */
/* Слайдер */
.slick-slider {

}
/* ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide {

}
/* слайд активный */
.slick-slide.slick-active {

}
/* слайд основной */
.slick-slide.slick-current {

}
/* слайд по центру */
.slick-slide.slick-center {

}

/* Стрелка */
.slick-arrow {

}
/* стрелка влево */
.slick-arrow .slick-prev {

}
/* стрелка вправо */
.slick-arrow .slick-next {

}
/* стрелка неактивная */
.slick-arrow .slick-disabled {

}

/* Точки */
.slick-dots {

}
.slick-dots li {

}

.slick-dots button {

}

/* конкретный слайдер */
.slider {
    position: relative;
    padding: 0 50px;
    text-align: center;
}
.slider__item {
    text-align: center;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0;
    border: 0;
    width: 30px;
    height: 60px;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/arrow-l.png') 0 0 / 100% no-repeat;
    background-size: cover;

}
.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/arrow-r.png') 0 0 / 100% no-repeat;
    background-size: cover;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

/* Точки */
.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}
.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #959595;
}
.slider .slick-dots button {
    font-size: 0;
    height: 16px;
    background-color: #959595;
    border-radius: 50%;
}