body {
  margin: 0px;
  padding: 0px;
}

.chat-box__footer {
 position: absolute;
 top: 91.69%;
 width: 98.7%;
 display: flex;
 justify-content: space-between;
 background-color: rgb(210, 210, 210);
 backdrop-filter: blur(5px);
 height: fit-content;
 padding: 10px;
}

textarea {
  width: 99.6%;
  min-height: 37px;
  max-height: 82px;
  background-color: rgb(210, 210, 210);
  border: none;
  resize:none
}


textarea:focus, input:focus {
  outline: none;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.642);
}

textarea:focus::placeholder { 
  color:transparent; 
}

textarea::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: transparent;
}

.send-btn {
  color: #000000;
  font-size: 25px;
  margin: auto 5px 5px 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.send-btn:active {
  scale: 0.8;
}